build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/Client.vcxproj
build/Client.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/PACKAGE.vcxproj
build/PACKAGE.vcxproj.filters
build/RemoteCamera.sln
build/RemoteCamera.vcxproj
build/RemoteCamera.vcxproj.filters
build/RUN_TESTS.vcxproj
build/RUN_TESTS.vcxproj.filters
build/Sender.vcxproj
build/Sender.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-a2f9e789e3559c8aa380.json
build/.cmake/api/v1/reply/cmakeFiles-v1-c632c1c1b6cb9837431a.json
build/.cmake/api/v1/reply/codemodel-v2-9f7f537fd236efb43745.json
build/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-MinSizeRel-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-.-RelWithDebInfo-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/index-2022-10-27T00-24-47-0839.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-962b48d26ef04a1e448b.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-962b48d26ef04a1e448b.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-962b48d26ef04a1e448b.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-962b48d26ef04a1e448b.json
build/.cmake/api/v1/reply/target-Client-Debug-af2f9110081d7d9fe6a1.json
build/.cmake/api/v1/reply/target-Client-MinSizeRel-3895d15dfa6859f61042.json
build/.cmake/api/v1/reply/target-Client-Release-5770fb55fcad10da1700.json
build/.cmake/api/v1/reply/target-Client-RelWithDebInfo-4e755a0f360c16cb8432.json
build/.cmake/api/v1/reply/target-RemoteCamera-Debug-df16542e9e1fe7ff4181.json
build/.cmake/api/v1/reply/target-RemoteCamera-MinSizeRel-d6e7fbab63a39506e3a8.json
build/.cmake/api/v1/reply/target-RemoteCamera-Release-2e688869c73e109bebf9.json
build/.cmake/api/v1/reply/target-RemoteCamera-RelWithDebInfo-b166c9a29f1c1c34a9b7.json
build/.cmake/api/v1/reply/target-Sender-Debug-440584a5b09fb94a9f74.json
build/.cmake/api/v1/reply/target-Sender-MinSizeRel-f8f7e8731e995ede176d.json
build/.cmake/api/v1/reply/target-Sender-Release-45a682c5de318c544313.json
build/.cmake/api/v1/reply/target-Sender-RelWithDebInfo-c7284bc77e3b4886bc6f.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-e42acd4209b03f87c0e5.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-e42acd4209b03f87c0e5.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-e42acd4209b03f87c0e5.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-e42acd4209b03f87c0e5.json
build/.cmake/api/v1/reply/toolchains-v1-7ad72b84a0058f23f81b.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.6/CMakeCCompiler.cmake
build/CMakeFiles/3.22.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.6/CMakeRCCompiler.cmake
build/CMakeFiles/3.22.6/CMakeSystem.cmake
build/CMakeFiles/3.22.6/VCTargetsPath.txt
build/CMakeFiles/3.22.6/VCTargetsPath.vcxproj
build/CMakeFiles/3.22.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.6/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.22.6/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.22.6/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.22.6/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.22.6/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.22.6/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.22.6/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.22.6/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/d118367606b8c14a0665579aeb92423f/generate.stamp.rule
build/CMakeFiles/d118367606b8c14a0665579aeb92423f/PACKAGE_force.rule
build/CMakeFiles/d118367606b8c14a0665579aeb92423f/RUN_TESTS_force.rule
build/Client.dir/Release/Client.exe.recipe
build/Client.dir/Release/Client.obj
build/Client.dir/Release/RunClient.obj
build/Client.dir/Release/Client.tlog/CL.command.1.tlog
build/Client.dir/Release/Client.tlog/CL.read.1.tlog
build/Client.dir/Release/Client.tlog/CL.write.1.tlog
build/Client.dir/Release/Client.tlog/Client.lastbuildstate
build/Client.dir/Release/Client.tlog/CustomBuild.command.1.tlog
build/Client.dir/Release/Client.tlog/CustomBuild.read.1.tlog
build/Client.dir/Release/Client.tlog/CustomBuild.write.1.tlog
build/Client.dir/Release/Client.tlog/link.command.1.tlog
build/Client.dir/Release/Client.tlog/link.read.1.tlog
build/Client.dir/Release/Client.tlog/link.write.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.exe.recipe
build/RemoteCamera.dir/Release/RemoteCamera.obj
build/RemoteCamera.dir/Release/RunRemoteCamera.obj
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CL.command.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CL.read.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CL.write.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CustomBuild.command.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CustomBuild.read.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/CustomBuild.write.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/link.command.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/link.read.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/link.write.1.tlog
build/RemoteCamera.dir/Release/RemoteCamera.tlog/RemoteCamera.lastbuildstate
build/Sender.dir/Release/RunSender.obj
build/Sender.dir/Release/Sender.exe.recipe
build/Sender.dir/Release/Sender.obj
build/Sender.dir/Release/Sender.tlog/CL.command.1.tlog
build/Sender.dir/Release/Sender.tlog/CL.read.1.tlog
build/Sender.dir/Release/Sender.tlog/CL.write.1.tlog
build/Sender.dir/Release/Sender.tlog/CustomBuild.command.1.tlog
build/Sender.dir/Release/Sender.tlog/CustomBuild.read.1.tlog
build/Sender.dir/Release/Sender.tlog/CustomBuild.write.1.tlog
build/Sender.dir/Release/Sender.tlog/link.command.1.tlog
build/Sender.dir/Release/Sender.tlog/link.read.1.tlog
build/Sender.dir/Release/Sender.tlog/link.write.1.tlog
build/Sender.dir/Release/Sender.tlog/Sender.lastbuildstate
build/Testing/Temporary/LastTest.log
build/x64/Release/ALL_BUILD/ALL_BUILD.recipe
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Release/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
output/Release/Client.exe
output/Release/Sender.exe
output/Release/RemoteCamera.exe
.vscode/settings.json
